@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&display=swap');

/* 
  font-family: 'Noto Sans KR', sans-serif;
  font-family: 'Black Han Sans', sans-serif;
  font-family: 'Gothic A1', sans-serif;
  font-family: 'Do Hyeon', sans-serif;
  font-family: 'Jua', sans-serif;
*/

.group__recommend__detail {
  width: 100vw;
  height: 150vh;
  position: relative;
  padding-top: 1rem;
  /* overflow: hidden; */
  /* background-color: #F2055C; */
  background-color: #FFF;
  transition: 1s all;
}
.main__menus {
  position: relative;
  padding-top: .3rem;
  width: 100%;
  height: 5vh;
  font-weight: 500;
  font-family: 'Do Hyeon', sans-serif;
  text-align: center;
  font-size: 1.5rem;
  z-index: 15;
  transform: translateY(0);
  transition: all .1s;

}
.group__recommend__detail__header {
  width: 100%;
  height: 50vh;
  position: relative;
  padding: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menus__list {
  opacity: 1;
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: all 0.3s;
}
.group__recommend__detail__section__wrapper {
  position: relative;
  /* position: absolute; */
  width: 100%;
  height: 95vh;
  /* top:calc(50vh); */
  /* background-color:white; */
  /* background-color: #FCE6E8; */
  background-color: rgba(181,227,216);
  border-radius: 2rem 2rem 0 0 ;
  padding: 2rem 1rem 0;
  z-index: 10;
  transition: all 1s;

}
.group__recommend__detail__header h1 {
  position: absolute;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 1.5rem;
  top: 1.5rem;
  left: 1.5rem;
}

.recommend__image {
  width: 100%;
  height: 100%;
  padding-top: 5rem;
}

/* .recommend__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
} */

.group__recommend__detail__section {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 1.5rem 0;
}

.exit__recommend__detail {
  font-family: 'Do Hyeon', sans-serif;
  font-size: 1.2rem;
  color: rgba(119,109,97);

  position: absolute;
  top: 0;
  right: 0;
}


.group__recommend__detail__section h1 {
  font-family: 'Do Hyeon', sans-serif;
  font-size: 2rem;
  /* color: #d0655f; */
  /* color: #F77A92; */
  color: rgba(119,109,97);

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.group__recommend__detail__section h1 span {
  font-size: 0.9rem;
}

.group__recommend__detail__section p {
  /* color: #F77A92; */
  color: rgba(119,109,97);

  padding: 0.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: 'Jua', sans-serif;

}

.group__recommend__detail__section p img {
  width: 13px;
  height: 13px;
}

.kakao__map {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%,0);
  width: 100%;
  height: 40%;
}

#map {
  width: 100%;
  height: 400px;
  z-index: 30;
}


.popup__map__title {
  width: 100%;
  height: 3rem;
  /* padding: 0.5rem; */
}

.popup__map__title a {
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  padding: 0.5rem;
  border: 1px solid;
  border-radius: 5px;
  color: rgba(119,109,97);
}


/* .menus__list {
  position: absolute;
  top: 30%;
  left: 0;
  width: 100vw;
  height: 20rem;
  z-index: 1;
  background-color: antiquewhite;
} */