@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&display=swap');

/* 
  font-family: 'Noto Sans KR', sans-serif;
  font-family: 'Black Han Sans', sans-serif;
  font-family: 'Gothic A1', sans-serif;
  font-family: 'Do Hyeon', sans-serif;
  font-family: 'Jua', sans-serif;
*/
.group__page__wrapper{
  width: 100vw;
  min-height: 100vh;
  position: relative;
  transform: translateX(0);
  transition: all .4s;
  overflow: hidden;
}

.group__page__container {
  position: relative;
}

.background__img {
  position: absolute;
  width: 100%;
  height: 30vh;
  z-index: -1;
  top: 0%;
  left: 0;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.group__page__header {
  width: 100%;
  height: 25vh;
  position: relative;
}

.group__exit {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 3;
  font-weight: 600;
}
.group__exit img {
  width: 1rem;
  height: 1rem;
}
.group__page__info {
  padding: 1rem 2rem;
  text-align: center;
}
.group__page__info {
  opacity: 0;
  transform: translate(-40px); 
  animation: fadeInLeft 0.5s forwards;
}

@keyframes fadeInLeft {
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.group__page__info__title {
  margin-top: 1rem;
  padding: 0.5rem 0;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 2.5rem;
}

.group__page__info__desc {
  font-family: 'Gothic A1', sans-serif;
  font-size: 0.7rem;
}

.group__member__container {
  width: 100%;
  height: 40%;
  position: absolute;
  bottom: 1.9vh;
  overflow: hidden;
  padding: 0  0.5rem;

}

.member__profile__imgs {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.member__card  {
  opacity: 0;
  margin: 0 0.2rem;
  left: 0.5rem;
  bottom: 0;
  transform: translate(0,50%);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  border: 1px solid;
  box-shadow: 5px 5px 12px -3px rgba(0, 0, 0, 0.13);
  overflow: hidden;
  transform: translate(-40px); 
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeInLeft 0.5s forwards;
}

@keyframes fadeInLeft {
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.num__members {
  font-size: 1.5rem;
}

.member__card img{
  width: 103%;
  height: 103%;
  object-fit: cover;
}

.group__page__section {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 3rem 3rem 0 0;
}

.group__page__section__header {
  width: 100%;
  height: 25vh;
  position: relative;
}

.group__page__recommend {
  padding-top: 1rem;
  width: 100%;
  min-height: 100%;
}

.group__page__recommend__header {
  margin: 2rem 0;
  padding: 0 1rem;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.group__page__recommend__header h1{
  font-family: 'Gothic A1', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  /* color: #d96963; */
  color: rgba(119,109,97);
}

.recommend__all__popup {
  height: 1.7rem;
  line-height: 0.9rem;
  font-family: 'Gothic A1', sans-serif;
  font-size: 0.8rem;
  border-radius: 5px;
  padding: 0.5rem;
  color: white;
  background-color: rgba(102,160,145);
}


.show__pop__up__active {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  z-index: 30;
}

.profileSettings {
  cursor: pointer;
}

.clicked {
  transform: translate(-100vw,0px);
}

.render__btn__section {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn__box {
  width: 10rem;
  height: 2rem;
  line-height: 1.4rem;
  text-align: center;
  border: 1px solid;
  padding: 0.2rem;
  border-radius: 4px;
  background-color: #fff;
  color: black;
  transition: all .6s ease-in-out;
}

.render__section {
  padding: 2rem 0;
}

