@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&display=swap');

/* 
  font-family: 'Noto Sans KR', sans-serif;
  font-family: 'Black Han Sans', sans-serif;
  font-family: 'Gothic A1', sans-serif;
  font-family: 'Do Hyeon', sans-serif;
  font-family: 'Jua', sans-serif;
*/

.group__feed {
  width: 100vw;
  height: 150vh;
  overflow: hidden;
}

.feed__header {
  width: 100%;
  height: 10vh;
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}

.feed__header h1 {
  font-size: 2rem;
  font-family: 'Do Hyeon', sans-serif;
}

.feed__section {
  width: 100%;
  height: 140vh;
  position: relative;
}

.kakaomap__feed {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  background-color: aqua;
}

#map {
  width: 100%;
  height: 100%;
  z-index: 10;
}

