$green : #00C854;
$grey100 : #F4F5F7;
$grey200 : #E1E4E7;
$grey500 : #ADB5BD;
$grey600 : #7E848A;
$grey700 : #495057;
$grey800 : #282C30;
$grey900 : #212529;
$black100 : #00000012;
$black200 : #00000019;

$blue800: #0074CC;
$blue600: #1E90FF;

$yellow700: #FFD500;
$pink: #F28080;
$pink200: #FDA7A7;
$primary: $green;
$success: $blue600;

$border-color: $grey200;

$pink: #FF7373;
$dark: #414141;
