$screen-xs:       480px;
$screen-sm:       768px;
$screen-md:       992px;
$screen-lg:       1140px;

$thin:                   100;
$light:                  300;
$normal:                400;
$medi:                   500;//h7이고 medi면 500
$bold:                   700;
$black:                  900;