.profile--container{
  min-height:100vh;
  & > header{
    height:180px;
    background-color: black;
    text-align: center;
    line-height: 100px;
    margin-bottom: 4px;
    color:white;
    font-size:14px;
    position:relative;
    
  }
  z-index: 1;
}
.more--option{
  position: absolute;
  top:10px;
  right:20px;
}
.option--display {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index:5;
  background-color: white;
  color:black;
  top:10px;
  right:20px;
  position: absolute;
  border-radius: 10px;
  padding:10px 20px;
  & > div{
    line-height: 40px;
  }
}
.option--overlay{
  display: fixed;
  width: 100vw;
  height:100vh;
}
.option--row{
  display: flex;
  align-items: center;
  &>div:nth-child(1){
    height:100%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    line-height: 40px;
  }
  &>div:nth-child(2){
    font-weight: 600;
  }
}
